.continer {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .container {
        padding-left: 19px;
        padding-right: 19px;
    }
}

@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/basic';
@import 'blocks/opportunities';
@import 'blocks/feature';
@import 'blocks/media';
@import 'blocks/footer';