.button {
    display: block;
    width: 157px;
    height: 47px;
    margin-top: 15px;
    margin-bottom: 12px;
    padding: 12px 30px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #29AAE3;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    &_header {
        padding: 10px 16px;
        &:hover {
            background: #269ACD;
        }
        &:active {
            background: #9033F9;
        }
    }
    &_basic {
        padding: 12px 20px;
        width: 289px;
        line-height: 19px;
        background: #FF5966;
        &:hover {
            background:#EB5560;
        }
        &:active {
            background: #54A757;
        }

    }
    &_opportunities {
        position: absolute;
        bottom: 9px;
        width: 164px;
        padding: 10px 25px;
        background: #54A757;
        &:hover {
            background: #4FA252;
        }
        &:active {
            background: #0062CC;
        }
    }
    &_automation {
        width: 305px;
        margin-top: 40px;
        background: #29AAE3;
        &:hover {
            background: #269ACD;
        }
        &:active {
            background: #9033F9;
        }
    }
    &_optimization {
        width: 238px;
        margin-top: 32px;
        background: #9033F9;
        &:hover {
            background: #842EE7;
        }
        &:active {
            background: #54A757;
        }
    }
    &_management {
        width: 305px;
        margin-top: 40px;
        background: #FF5966;
        &:hover {
            background: #EB5560;
        }
        &:active {
            background: #54A757;
        }
    }
}

@media screen and (max-width: 991px) {
    .button {
        &_automation, &_optimization, &_management {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 767px) {
    .button {
        &_basic {
            width: 95%;
        }
        &_opportunities {
            width: 260px;
        }
        &_automation, &_optimization, &_management {
            width: 100%;
        }
    }
}