.feature {
    padding-top: 70px;
    padding-bottom: 48px;
    background: #F5F6F6;
    &_optimization {
        padding: 100px 0;
        background: #FFFFFF;
    }
    &_management {
        background: #F5F6F6;
        padding-top: 71px;
        padding-bottom: 64px;
        img {
            margin-left: 105px;
        }
    }
    &__content {
        width: 475px;
        min-height: 212px;
        &__text {
            font-family: "Noto Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            &_automation {
                min-height: 125px;
            }
            &_optimization {
                width: 425px;
                min-height: 150px;
            }
            &_management {
                width: 445px;
                min-height: 150px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .feature {
        padding: 48px 0;
        &__img img {
            width: 100%;
        }
        &__content {
            &__text {
                font-size: 16px;
            }
        }
        &_management {
            img {
                margin-left: 0;
                width: 70%;
            }
        }
    }
}