.feature {
    padding-top: 70px;
    padding-bottom: 48px;
    background: #F5F6F6;
    .row {
        justify-content: space-between;
    }
    &_optimization {
        padding: 100px 0;
        background: #FFFFFF;
        .feature__content {
            padding-left: 64px;
        }
    }
    &_management {
        background: #F5F6F6;
        padding-top: 71px;
        padding-bottom: 64px;
        img {
            margin-left: 105px;
        }
    }
    &__content {
        width: 475px;
        min-height: 212px;
        &__text {
            font-family: "Noto Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            &_automation {
                min-height: 125px;
            }
            &_optimization {
                width: 425px;
                min-height: 150px;
            }
            &_management {
                width: 445px;
                min-height: 150px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .feature {
        padding: 48px 0;
        &__img img {
            width: 100%;
        }
        &__content {
            &__text {
                font-size: 16px;
            }
        }
        &_management {
            img {
                margin-left: 64px;
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .feature {
        &_automation, &_management {
            .feature__content {
                order: 2;
            }
        }
        .row {
            justify-content: center;
        }
        &__content {
            margin-top: 35px;
            &__text {
                text-align: justify;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .feature {
        &__content {
            &__text {
                font-size: 18px;
                line-height: 25px;
                &_optimization {
                    width: 100%;
                }
                &_management {
                    width: 100%;
                }
            }
        }
        &_optimization {
            .feature__content {
                padding-left: 12px;
            }
        }
    }
}