.footer {
    min-height: 337px;
    background: #53A8DD;
    padding-top: 55px;
    padding-bottom: 83px;
    &__menu-links {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 302px;
        a {
            display: block;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #ffffff;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__divider {
        width: 100%;
        height: 2px;
        margin-top: 24px;
        background: #C4C4C4;
        opacity: 1;
    }
    hr:not([size]) {
        height: 2px;
    }
    &__store-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__copyright {
        margin-top: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #ffffff;
        &__links {
            display: flex;
            justify-content: space-around;
            margin: 0 auto;
            margin-top: 15px;
            width: 447px;
            a {
                position: relative;
                color: #ffffff;
                text-decoration: none;
                padding-right: 22px;
                border-right: 2px solid #ffffff;
                &:hover {
                    text-decoration: underline;
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: 32px;
        padding-bottom: 50px;
        min-height: 244px;
        &__menu-links {
            width: 100%;
        }
        &__menu-links a {
            font-size: 18px;
            line-height: 21px;
        }
        &__divider {
            margin-top: 15px;
        }
        &__copyright {
            font-size: 15px;
            line-height: 18px;
            &__links {
                width: 100%;
                a {
                    padding-right: 3vw;
                }
            }
        }
    }
}