.opportunities {
    min-height: 884px;
    padding: 100px 0;
    &__card {
        position: relative;
        width: 310px;
        min-height: 655px;
        padding-top: 32px;
        padding-left: 26px;
        padding-bottom: 21px;
        margin: 0 6px;
        margin-top: 40px;
        background: #F9F9F9;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        &__subtitle {
            margin-top: 19px;
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #434449;
        }
        &__list {
            margin-top: 29px;
            margin-bottom: 0;
            padding-left: 0;
            font-family: "Noto Sans", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #434449;
            list-style-type: none;
            li {
                display: block;
                margin: 12px 0;
                padding-left: 18px;
                &::before {
                    content: "";
                    display: block;
                    position: relative;
                    left: -16px;
                    bottom: -15px;
                    width: 8px;
                    height: 8px;
                    background-color: #29AAE3;
                    border-radius: 50%;
                }
            }
        }
        &__img {
            display: flex;
            align-items: center;
            width: 80px;
            height: 80px;
            border-radius: 30px;
            img {
                display: block;
                margin: 0 auto;
                width: 50px;
                height: 50px;
            }
            &_orange {
                box-shadow: 0px 4px 20px rgba(255, 198, 93, 0.3);
                background: #FFC65D;
            }
            &_violet {
                background: #9033F9;
                box-shadow: 0px 4px 20px rgba(144, 51, 249, 0.2);
            }
            &_coral {
                background: #FF5966;
                box-shadow: 0px 4px 20px rgba(255, 89, 102, 0.2);
            }
            &_blue {
                background: #29AAE3;
                box-shadow: 0px 4px 20px rgba(41, 170, 227, 0.2);
            }
        }
    }
}